<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udecidefinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".helpPage"
            android:label="@string/title_activity_help_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".cardInputActivity"
            android:label="@string/title_activity_card_input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cardActivity"
            android:label="@string/title_activity_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coinActivity"
            android:label="coinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coinSelect"
            android:label="coinSelect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coinFlip"
            android:label="coinFlip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>